
<% if obj.errors.any? %>
  <div id="error_explanation">
    <ol>
      <% obj.errors.full_messages.each do |msg| %>
        <li class="alert alert-danger"><%= msg %></li>
      <% end %>
    </ol>
  </div>
<% end %>